*/ {
  margin: 0;
  padding: 0px;
}
body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
}
#homeButton {
  text-decoration: none;
  color: black;
}
#cartButton {
  text-decoration: none;
  color: black;
}
#bookingsButton {
  text-decoration: none;
  color: black;
}


#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  background-color: rgb(88, 162, 226);
  
  height: 100vh;
}

#middle{

  justify-content: center;
  align-items: center;
}
#container-text {
position: absolute;
bottom: 100px;
}

#header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100vw;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

#content {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
}

.cellhead {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

#title {

  font-weight: bolder;
}


#selection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  width: 1200px;
  background-color: aliceblue;
  margin: 200px;
}

h4 {
  color: black;
}

#result {
  background-color: aliceblue;
  width: 300px;
  height: 500px;
  margin: 100px;
  border-radius: 10px;
  padding-top: 10px;
  color: black;
  justify-content: space-around;
}


#bottom {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  margin-left: 10px;
}

#logoFb {
  width: 25px;
}

#logoTwitter {
  width: 25px;
}
#logoInstagram {
  width: 25px;
}

.rotate img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.rotate :hover img {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}