*/ {
  margin: 0;
  padding: 0px;
}
body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  
}
#homeButton {
  text-decoration: none;
  color: black;
}
#cartButton {
  text-decoration: none;
  color: black;
}
#bookingsButton {
  text-decoration: none;
  color: black;
}
#container-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: aliceblue;
  background-image: url(../images/rail.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  ;
}

#header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100vw;
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

#content {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
}

.cellhead {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

#title {
  font-weight: bolder;
}

#selection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  background-color: aliceblue;
  margin: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

#departure {
  height: 35px;
  width: 90%;
  border-radius: 10px;
  border: none;
  font-family: "Varela Round", sans-serif;
}

#arrival {
  height: 35px;
  width: 90%;
  border-radius: 10px;
  border: none;
  font-family: "Varela Round", sans-serif;
  margin: 5px;
}

#date {
  height: 35px;
  width: 90%;
  border-radius: 10px;
  border: none;
  font-family: "Varela Round", sans-serif;
}
#register {
  height: 40px;
  width: 60%;
  background-color: rgb(22, 244, 214);
  border-radius: 20px;
  border: none;
  font-family: "Varela Round", sans-serif;
}

#result {
  background-color: aliceblue;
  width: 300px;
  height: 400px;
  margin: 100px;
  border-radius: 10px;;
  padding-top: 10px;
  color: black;
  justify-content: space-around;
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
}
#line {
  background-color: aquamarine;
  height: 2px;
  width: 90%;
  margin: auto;
}

#bottom {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  margin-left: 10px;
}

#logoFb {
  width: 25px;
}

#logoTwitter {
  width: 25px;
}
#logoInstagram {
  width: 25px;
}

.rotate img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.rotate :hover img {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}



.trainList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  background-color: antiquewhite;
  font-size: small;
}

.book-button {
  height: 30px;
  width: 20%;
  background-color: rgb(22, 244, 214);
  border-radius: 11px;
}
